<h1>ASPCore Application With Angular</h1>
<p>Welcome to single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>This application contains 3 main parts:</p>
<ul>
  <li><strong>Person list</strong>. Displaying all Person names, surnames from DB.</li>
  <li><strong>Loans list</strong>. Displaying all Loans with borrower and loaner ID's and amount loaned.</li>
  <li><strong>Pay Back's list</strong>. Displaying all Pay back transactions with loan ID and amount payed back.</li>
</ul>

